.billing{
    display: flex;
    align-items: center;
    gap: 200px;
}

.billing-img{
    flex: 1;
    max-width: 600px;
}

.billing-img img{
    width: 100%;
    height: 100%;
}



.billing-info{
    flex: 1;
    color: white;
    margin-bottom: 50px;
}


.billing-info h3{
    font-size: 40px;

}

.billing-info p{
    max-width: 480px;
    margin: 30px 0;
}

.billing-buttons{
    display: flex;
    align-items: center;
    gap: 30px;
}

.billing-buttons img{
    cursor: pointer;
}

@media screen and (max-width:1024px) {
    .billing{
        padding: 2rem;
        flex-direction: column-reverse;
        align-items: unset;  
        gap: 20px;
    }
    
}

@media screen and (max-width:768px) {
    
}
