* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

ul{
  list-style: none;
}

body {
  background-color: #010410;
  font-family: var(--font-family);
}

.section-padding {
  padding: 2rem 8rem;
}


.opacity-low{
  opacity: 0.6;
}

.opacity-high{
  opacity: 1;
}

.aqua-text{
  background: linear-gradient(157.81deg, #DEF9FA -43.27%, #BEF3F5 -21.24%, #9DEDF0 12.19%, #7DE7EB 29.82%, #5CE1E6 51.94%, #33BBCF 90.29%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.blue-gradient{
  background: linear-gradient(180deg, rgba(188, 165, 255, 0) 0%, #214D76 100%);
  filter: blur(123px);
}

.pink-gradient{
  background: linear-gradient(90deg, #F4C4F3 0%, #FC67FA 100%);
  filter: blur(400px);
}

.white-gradient {
  background: rgba(255, 255, 255, 0.6);
  filter: blur(450px);
}

.scale-up-center {
  -webkit-animation: scale-up-center 0.5s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
  animation: scale-up-center 0.5s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}


/**
 * ----------------------------------------
 * animation scale-up-center
 * ----------------------------------------
 */
@-webkit-keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}